@font-face {
  font-family: AV-bold;
  src: url(/resources/fonts/AV-Bold.ttf);
}

@font-face {
  font-family: AV-medium;
  src: url(/resources/fonts/AV-Medium.ttf);
}

* {
  margin: 0;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
  width: 100vw;
  margin: 0 auto;
}

.buttons {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 6vh;
}

.buttons .primary-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: AV-Bold;
  text-decoration: none;
  background-color: #d57a29;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
}

.buttons .primary-button:hover {
  background-color: #b9681f;
}

.buttons .primary-button:before {
  display: block;
  content: ' ';
  background-image: url("/resources/logo/sketch.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  margin-right: 1vw;
}

#blockbyte-bs-indicator {
  display: none !important;
}

.figures {
  bottom: 0;
  position: fixed;
}

.figures .credits {
  font-size: 12px;
  font-family: AV-Medium;
  text-align: right;
  margin-right: 8vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
  color: #555555;
}

.figures .credits a {
  color: #9b9b9b;
  text-decoration: none;
  font-family: AV-Bold;
}

.figures .credits a:hover {
  color: white;
}

.figures .credits a:visited {
  text-decoration: none;
  color: #9b9b9b;
}

.figures figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: visible;
  overflow-x: hidden;
  margin-left: -9vw;
}

.figures figure img {
  width: 15.4%;
  height: 15.4%;
}

.content {
  margin-top: 2vh;
  text-align: center;
}

.content .heading {
  font-size: 32px;
  font-family: AV-Medium;
  letter-spacing: -1px;
  color: white;
}

.content .subheading {
  width: 40%;
  margin: 0 auto;
  margin-top: 1vh;
  line-height: 25px;
  text-align: center;
  font-size: 16px;
  font-family: AV-Medium;
  letter-spacing: -0.2px;
  color: #9b9b9b;
}

.animated-header {
  width: 88vw;
  margin: 0 auto;
  margin-top: 3vh;
}

@media (max-width: 940px) {
  .animated-header {
    width: 94vw;
  }
  .content .subheading {
    width: 60%;
  }
}

@media (max-width: 760px) {
  .content {
    margin-top: 0vh;
  }
  .content .heading {
    font-size: 28px;
  }
  .content .subheading {
    font-size: 14px;
    line-height: 22px;
  }
  .figures .credits {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .figures figure img {
    width: 22%;
    height: 22%;
  }
}

@media (max-width: 520px) {
  .animated-header {
    width: 100vw;
    margin-top: 0vh !important;
  }
  .animated-header video {
    height: 140px;
    width: 140px;
  }
  .buttons {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-top: 3vh;
  }
  .content {
    margin-top: 0;
  }
  .content .heading {
    font-size: 24px;
  }
  .content .subheading {
    width: 90%;
  }
  .figures .credits {
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 11px;
  }
  .figures figure img {
    width: 28%;
    height: 28%;
  }
}

@media (max-width: 420px) {
  .animated-header {
    width: 100vw;
  }
  .buttons {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .content .heading {
    font-size: 26px;
  }
  .content .subheading {
    width: 80%;
  }
  .figures .credits {
    margin-top: 2vh;
    margin-bottom: 3vh;
  }
  .figures figure img {
    width: 36%;
    height: 36%;
  }
}

@media (max-width: 370px) {
  .animated-header {
    width: 100vw;
  }
  .content .heading {
    font-size: 22px;
  }
  .content .subheading {
    width: 80%;
    height: 80%;
  }
}
/*# sourceMappingURL=style.css.map */